<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite" parallel="classes" thread-count="1">

    <test name="Form Content Test">
        <classes>
            <class name="Formic.CheckboxMatrixTest" />
            <class name="Formic.CheckboxTest" />
            <class name="Formic.HandWritingRecognitionObjectTest" />
            <class name="Formic.ManualImageAreaTest" />
            <class name="Formic.NavigationOptionTest" />
            <class name="Formic.DataDerivationTest" />
            <class name="Formic.DataValidationTest" />
            <!--            <class name="Formic.LoginTest" />-->
            <!--            <class name="Formic.RegistrationTest" />-->

        </classes>
    </test>

    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>

    <parameter name="outputDirectory" value="src/test-output/surefire-reports/junitreports"/> <!-- Specify the output directory -->
</suite>

