<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <test name="TEST-Form Content Test">
        <classes>
            <class name="Formic.testcases.TestFormContent" />
        </classes>
    </test>

    <listeners>
        <listener class-name="org.testng.reporters.JUnitXMLReporter" />
    </listeners>

    <suite-files>
        <!-- Other suite files if needed -->
    </suite-files>
    <parameter name="outputDirectory" value="test-output/Suite"/> <!-- Specify the output directory -->
</suite>

